RewriteEngine On
RewriteRule ^search$ search/ [NC]
RewriteRule ^search\/$ /API/search.php [NC]

RewriteRule ^user\/$ user.html [NC]
RewriteRule ^user$ user.html [NC]
RewriteRule ^user\/([a-zA-Z0-9_\-\ ]+)$ user.html [NC]

RewriteRule ^login\/$ login.html [NC]
RewriteRule ^login$ login.html [NC]

RewriteRule ^image\/$ image.html [NC]
RewriteRule ^image$ image.html [NC]
RewriteRule ^image\/([a-zA-Z0-9_\-\ ]+)$ image.html [NC]

RewriteRule ^signup\/$ signup.html [NC]
RewriteRule ^signup$ signup.html [NC]

RewriteRule ^profile\/$ profile.html [NC]
RewriteRule ^profile$ profile.html [NC] 

RewriteRule ^$ index.html [NC]